body {
  background-color: #303030;
}
h1, h5, h3{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#anchor {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
p {
  color: white;
  font-family: "Times New Roman", Times, serif; 
}

.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.main {
  margin-left: 180px; 
}